aiohttp==3.9.1
aiofiles==23.2.1
PySide6==6.6.1
PySide6-Addons==6.6.1
sqlalchemy==2.0.23
python-dotenv==1.0.0
requests==2.31.0
numpy==1.24.3
pandas==2.1.3
openpyxl==3.1.2
pyinstaller==6.1.0
loguru==0.7.2
pydantic==2.5.0
dataclasses-json==0.6.1
pyqtgraph==0.13.7
proto-plus==1.22.3
tenacity==8.2.3
